header {
  display: flex;
  flex-direction: column;

  height: 80px;
  width: 100%;

  nav {
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: space-between;

    height: 100%;
    width: 90%;

    background-color: var(--NavbarBackgroundColor);
    box-shadow: var(--shadow-box);

    padding: 20px 10px;
    margin: var(--margin-top) auto;
    border-radius: 15px;

    .links{
      height: 100%;
      ul{
      height: 100%;

        display: flex;
        align-items: center;
      }
    }
    .logo {
      width: 120px;
      height: 60px;

      img {
        width: 100%;
      }
    }

    .dev-logo {
      width: 60px;
      img {
        width: auto;
        height: 100%;
      }
    }
  }
}
