@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

:root {
  --max-width: 1100px;
  --general-padding:120px;
  --margin-top: 20px;
  --shadow-box:0 0 10px 2px rgb(167, 167, 167);
  --font-mono: 'Merriweather Sans', sans-serif, ui-monospace, Menlo, Monaco, "Cascadia Mono",
  "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
  "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;




  --PrimaryBackgroundColor:black;
  --background-signIn:rgb(0, 0, 0);
  --text-primary-color:white;

  --NavbarBackgroundColor:rgb(19, 19, 19);

}

// @media (prefers-color-scheme: dark) {
//   :root {
//   }
// }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  font-family: var(--font-mono);
  scroll-behavior: smooth;

  background-color: var(--PrimaryBackgroundColor);
  color: var(--text-primary-color);
}
body{
  display: flex;
  flex-direction: column;

}
main{
  // margin: var(--margin-top) 0;
  // padding-left: 40px;
}

a {
  color: inherit;
  text-decoration: none;
}
li{
  list-style: none;
}
button{
  height: 40px;
  background-color: rgb(167, 0, 218);
  color: white;
  border: none;
  border-radius:4px;
  cursor: pointer;


}
button:active{
  transform: translateY(3px);
}
// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }



/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 6px; /* Ancho de la barra de desplazamiento */
}

/* Estilo para el "track" de la barra de desplazamiento (la parte gris) */
::-webkit-scrollbar-track {
  background-color: #000000; /* Color de fondo del track */
}

/* Estilo para el "thumb" de la barra de desplazamiento (la parte desplazable) */
::-webkit-scrollbar-thumb {
  background-color: #a3a3a3; /* Color del thumb */
  border-radius: 8px; /* Bordes redondeados del thumb */
  width: 4px;
}

/* Cambia el color del thumb al pasar el ratón sobre él */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
