.cotizacionForm {
  overflow-y: scroll;
  z-index: 50;

  background-color: black;
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  padding: 0 40px 40px;
  margin: 50px 0;

  .formTitle {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    margin: 60px 0 20px;
    button {
      min-width: 30px;
      border: none;
      background-color: #00000000;
      font-size: 20px;
    }
  }
  form {
    .subtitle {
      margin: 0 0 30px 0;
    }
  }
}
details {
  margin: 20px 0;
  summary{
  font-size: 18px;
  }
  p {
    margin: 0 0 20px;
  }
}
fieldset {
  border: none;
}
.btnGroup {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  button {
    padding: 5px 15px;
  }
}
.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ccc;
  margin-bottom: 20px;

  .progress {
    height: 100%;
    background-color: #4caf50;
    transition: width 0.3s ease-in-out;
  }



}
// form{
//   display: flex;
//   flex-wrap: wrap;
// }
