.listElement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;
  gap: 15px;
  border: 1px solid rgb(83, 83, 83);
  // box-shadow: var(--shadow-box);
  padding: 10px;
  .listContent {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .listHeader {
      display: flex;
    }

    .listFooter p {
      font-size: 12px;
      margin-bottom: 5px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 4px;
        border-radius: 4px;
        font-size: 12px;
      }
    }
  }

  .listButton {
    align-self: flex-end;
    display: flex;
    gap: 10px;
    button {
      min-width: 60px;
      padding: 6px 12px;
      height: 100%;
    }

    button:active {
      transform: translateY(3px);
    }
    .delete {
      background-color: rgb(180, 0, 0);
    }
    .details {
      background-color: rgb(83, 0, 160);
    }
  }

  @include media-up(sm) {
    gap: 30px;
    padding: 20px;
    .listContent {
      gap: 15px;

      ul {
        gap: 12px;
        li {
          padding: 5px 10px;
        }
      }
    }
  }

  @include media-up(md) {
    flex-direction: row;

    .listButton {
      display: flex;
      gap: 10px;
      button {
       font-size: 16px;
        height: 100%;
      }

      button:active {
        transform: translateY(3px);
      }
      .delete {
        background-color: rgb(180, 0, 0);
      }
      .details {
        background-color: rgb(83, 0, 160);
      }
    }
  }
}

// .listContent {
//   display: flex;
//   flex-direction: column;
//   gap: 10px;

//   .listHeader {
//     display: flex;
//   }

//   .listFooter p {
//     font-size: 12px;
//     margin-bottom: 5px;
//   }

//   ul {
//     display: flex;
//     gap: 15px;
//     li{
//       padding: 5px 8px;
//       border-radius: 4px;
//       font-size: 12px;
//     }
//   }
// }
